html{ height: 100%;}
body { min-height: 100%; }
/*base.html*/
body{
    background-color: black;
    font-family: SansSerif, sans-serif;
    margin: 0px;
}

.nine{
    display: block;
    justify-content: center;
    height: 100%;
}
.small-width{
    width: 20% !important;
    margin-top: 0px !important;
    margin-bottom: 1%;
}
#top-bar{
    background-color: grey;
    padding: 10px;
    border-radius: 0px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 16px;
    font-color: white;
}
div.button{
    float: right;
    padding-right: 2%;
}
/*form*/
.form{
    width:100%;
    text-align: center;
}
textarea{
    height: 90%;
    width: 70%;
}
/*anchor*/
a{
    color: steelblue;
    text-decoration: underline;

}
a:hover{
    color: white;
}
/*fonts*/
.small-font{
    font-size: 10pt;
}
.medium-font{
    font-size: 12pt;
}
.large-font{
    font-size: 14pt;
}
/*input box*/
input{
    background-color: #333;
    border-radius: 2px;
    border: none;
    font-size: 12pt;
    color: #fff;
    padding-left: 8px;
}

input[type="text"]{
    width: 20%;
    height: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
}

input[type="submit"]{
    color: white;
    background-color: grey;
    height: auto;
    width: auto;
}
input[type="submit"]:hover{
    background-color:#fff;/*#004649;*/
    color: black;
}
/*headings*/
h4{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
    font-size: 18px;
    color: #ff7954;
}

p{
    color: white;
    text-align: center;
}

ul li {
    text-align: left;
}
/*select*/
select{
    margin-top: 2%;
    font-size: 12px;
}

h3{
    color: white;
}
thead, th{
 text-align: left;
}
table{
border-collapse: collapse;
width: 100%;
}

table{
    border: none;
}
#myDIV {
    float: right;
    width: 25%;
    height: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: black;
    margin-top: 5px;
    font-size: 10pt;

}
 dl{
 display: flex;
  flex-flow: row wrap;
    border: solid #333;
    border-width: 1px 1px 0 0;
    height : 200px;
}

dt {
    flex-basis: 40%;
    padding: 2px 4px;
    background: #333;
    text-align: left;
    color: #fff;
    vertical-align: middle;
}

dt label{

    height: 75%;
    vertical-align:middle;
    display: block;
    font-size: 12pt;
    text-align: center;

}

dd {
    flex-basis: 40%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    border-bottom: 1px solid #333;
    color: white;
}

table{
    border: none;
}

dl ul li {
    display: inline;
}

.uploadBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 2%;
}

/*table*/
th, td{
    color: white;
    padding-left: 8px;
}
TD, TH{
    color: white;
    padding-left: 8px;
}
table TD{
    color: white;
    border: 1px solid #333;
}
table TH{
    color: white;
    border: 1px solid #333;
    background-color: #333;
}

/*for the search bar*/
 * {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  color: black;
}

form.example button {
  float: left;
  width: 20%;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top:2%;
  margin-bottom:2%;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*css for the tree graph*/
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  color: white;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
#footer{
    bottom: 0;
    position: absolute;
}
#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   font-size: 10px;
}
#footer-p{
float: center;
}

.footer-nav {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    display: none;
    width: 100%;
    height: 30px;
    font-size: 10px;
    text-align: center;
    background-color: #333;
}
.show, .footer-nav:hover {
    display: block;
}

