<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="Face Registration" name="Face Registration">
<title>Face Registration</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/webcam.min.js') }}"></script>
    <link href="static/plugin/videojs-wavesurfer/dist/css/videojs.wavesurfer.min.css" rel="stylesheet">
<link href="static/plugin/videojs-record/dist/css/videojs.record.css" rel="stylesheet">

<script src="static/plugin/video.js/dist/video.min.js"></script>
<script src="static/plugin/recordrtc/RecordRTC.js"></script>
<script src="static/plugin/webrtc-adapter/out/adapter.js"></script>
    <script src="static/plugin/videojs-record/dist/videojs.record.js"></script>
    <style>
  section.content{

    width: 100%;
    height: calc(100% - 54px);
  }
  .content .container{
    width: 100%;
    height: 600px;
    /* background-image: url('/static/images/stips-body-bg2.png');
    background-size: 700px;
    background-position: 316px center;
    background-repeat: no-repeat; */
    padding-top: 10px;
    /* background-repeat: no-repeat;
    background-position: 261px center; */
}
  .rounded-blue-btn{
    background-color: #0082f0;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    margin: 211px 0 0 140px;
    display: inline-block;
  }

  .f_left{
    float: left;
  }
  .face-img-bg{
    background-image: url('static/images/face-img.png');
    background-size: cover;
    width: 300px;
    display: block;
    height: 286px;
    margin: 57px auto;
  }
  .face-recog-txt-bg{
    background-image: url('static/images/face-recog-txt.png');
    width: 300px;
    background-size: cover;
    display: block;
    height: 252px;
    margin: 74px auto;
  }
  .img-wrap, .face-txt-wrap{
    margin-top: 10px;
    width: 39%;
  }
  .door-wrap{
    margin-top: 10px;
    width: 20%;
  }
  .img-wrap, .face-txt-wrap{
    border-bottom: 1px solid #fff;
  }
  .door-wrap{
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .door-handle{
    width: 41px;
    height: 66px;
    border: 1px solid #fff;
    border-radius: 8px;
    margin: 10px 32px 0 0;
    float: right;
}
  .reg-txt {
    width: 100%;
    text-align: center;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tilt-handle{
    background-image: url('static/images/handel-only.png');
    width: 60px;
    display: block;
    height: 17px;
    margin: 24px 4px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .door-white-bg{
    background-color: #fff;
    margin: 12px auto 0;
    width: 90%;
    height: 388px;
    position: relative;
  }
  .clamp{
    width: 3px;
    height: 34px;
    border: 1px solid #fff;
    position: absolute;
    left: -2px;
  }
  .clamp.top{
    top:40px;
  }
  .clamp.bottom{
    bottom: 40px;
  }
  .door{
    background-color: #0082f0;
    color: #fff;
    width: 100%;
    height: 388px;
    position: relative;
  }

  .door.open{
    transform: perspective(300px) rotate(0deg);
    transform-origin: 0% 0%;
    animation: open 3s linear;
  }
  @keyframes open{
    0%{
      transform: perspective(300px) rotateY(0deg);
    }
    25%{
      transform: perspective(300px) rotateY(15deg);
    }
    50%{
      transform: perspective(300px) rotateY(40deg);
    }
    75%{
      transform: perspective(300px) rotateY(75deg);
    }
    100%{
      transform: perspective(300px) rotateY(80deg);
    }
  }
  .door-white-zoom-fill.open{
    -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  }
  .door-white-zoom-fill{
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
  }
  .video-wrapper{
    background-image: url('static/images/tab.png');
    /* background-image: url('/static/images/tab-blue.png'); */
    background-size: cover;
    height: 525px;
    width: 305px;
    margin: 0 auto;
    /* padding: 60px 32px 0; */
    padding: 60px 65px 0;
  }
  .video-wrapper video{
    width: 284px;
    height: 188px;
  }
button#capture-btn {
  width: 100px;
    background: #f44336;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
button#capture-btn:hover {
  cursor: pointer;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#myForm{
    text-align: center;
	position: relative;
  margin: 0 auto;
}
#myForm fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 0px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 auto;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#myForm fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#myForm input, #myForm textarea {
  padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0px;
    width: 90%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#myForm .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#myForm .action-button:hover, #myForm .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

#myForm .cancle-button {
	width: 100px;
	background: #f44336;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#myForm .cancle-button:hover, #myForm .cancle-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #f44336;
}
/*headings*/
.fs-title {
	font-size: 15px;
	/* text-transform: uppercase; */
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin: 7px auto;
	overflow: hidden;
  padding-left: 0px;
    padding-bottom: 30px;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #333;
	/* text-transform: uppercase; */
	font-size: 12px;
  font-weight: bold;
	width: 50%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #fff;
	background: #333;
	border-radius: 3px;
	margin: 0 auto 5px auto;
  position: relative;
  z-index: 4;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: gray;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: 0; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
#results img#image {
    width: 50%;
}
input.next.action-button.hidden {
    display: none;
}
.input-wrapper {
    min-width: 300px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbarSuccess {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #27AE60; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 200px; /* 200px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbarSuccess.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbarAlreadyExists {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #27AE60; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 200px; /* 200px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbarAlreadyExists.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbarError {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  max-width: 250px;
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #f44336; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 200px; /* 200px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbarError.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4s;
  animation: fadein 0.5s, fadeout 0.5s 4s;
}

  #my_camera_border{
      background-image: url("/static/images/capture-image-ovelay-border-3.png");
      background-position: -89px center;
      width: 304px;
      height: 240px;
      position: absolute;
      top: 46px;
  }
  #privacy-policy{
      font-size: 8px;
      margin: 112px auto 0;
      color: #fff;
      display: inline-block;
  }



/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 200px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 200px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 200px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 200px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.footer{
  text-align: center;
    color: #fff;
    padding: 9px 0;
    font-size: 10px;
    {#position: fixed;#}
   left: 0;
   bottom: 0;
   width: 100%;
}
  </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
</head>
<body>
<section class="content">

<form  id="myForm" method=”POST” enctype="multipart/form-data"">
  <div class="video-wrapper">
     <!-- progressbar -->
  <ul id="progressbar">
      <li class="active">Image Capture</li>
      <li>Fill Your Name</li>
  </ul>

  <fieldset>
    <div class="video-wrapper-content">
      <h2 class="fs-title">Image Capture</h2>
      <div id="my_camera"></div>
        <div id="my_camera_border"></div>
      </div>
      <button type="button" id="capture-btn" onclick="snap()" value="Snap">Capture</button>
      <br>
      <input type="button" name="next" class="next action-button hidden" value="Next" />
  </fieldset>
    
  <fieldset>
    <div class="input-wrapper">
        <h2 class="fs-title">Image Preview</h2>
      <div id="results"></div>
      <h2 class="fs-title">Fill Your Name</h2>
      <input type="text" id="name" name="name" required minlength="2" pattern="[A-Za-z]+" oninvalid="setCustomValidity('Please enter only alphabets')" >
    </div>
    <input type="button" name="previous" class="previous cancle-button" value="Recapture" /> 
    <input type="button" name="submit"  id="send-btn" class="submit action-button" value="Submit" onclick="ValidationEvent()"/>    
  </fieldset>  

</form>
    <div id="snackbarSuccess">Registered successfully</div>
      <div id="snackbarAlreadyExists">Already registered.</div>
    <div id="snackbarError">Error while processing. Please try again.</div>
</div>
<script>

  // Below Function Executes On Form Submit
function ValidationEvent() {
  var name = $("#name").val();
  if(name=="" || name==null){
    document.getElementById("snackbarError").innerHTML = "Please Fill Your Name";
    snackBarToastFunction("snackbarError"); 
    $("#name").focus();
  }else{
    if(/^[a-z A-Z]+$/.test(name) && (name.length>=2)){
      upload(myForm);
    }else{
    document.getElementById("snackbarError").innerHTML = "Name must contain atleast 2 characters and  symbols, number and special charecters are not allowed";
    snackBarToastFunction("snackbarError"); 
    }
  }
}

function ShowCam() {
    Webcam.set({
        width: 304,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 100
    });
    Webcam.attach('#my_camera');
}
window.onload= ShowCam;

function snap() {
    Webcam.snap( function(data_uri) {
        // display results in page
        document.getElementById('results').innerHTML =
        '<img id="image" src="'+data_uri+'"/>';
      } );
      $("input.next.action-button").trigger("click");
}

function upload(myForm) {
    console.log("Uploading...")
    var image = document.getElementById('image').src;
    var form = document.getElementById('myForm');
    var formData = new FormData(form);
    formData.append("file", image);
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/signup");
    xmlhttp.send(formData);

    xmlhttp.onload = function () {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          document.getElementById("snackbarSuccess").innerHTML = "Registered successfully";
          snackBarToastFunction("snackbarSuccess");
      }
      else if(xmlhttp.readyState == 4 && xmlhttp.status == 201) {
          response = xmlhttp.response;
          console.log(response)
          console.log(JSON.parse(response.replace(/'/g,"\"")));
          registered_user = JSON.parse(response.replace(/'/g,"\"")).registered_user;
          document.getElementById("snackbarAlreadyExists").innerHTML = "Already registered as " + registered_user ;
          snackBarToastFunction("snackbarAlreadyExists");
      }else{
              document.getElementById("snackbarError").innerHTML = "Unable to identify face. Please try again in a better lighting.";
          snackBarToastFunction("snackbarError");
       }
  console.log('DONE: ', xmlhttp.status);
};
}

function snackBarToastFunction(id) {
  var x = document.getElementById(id);
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  // setTimeout(function(){ 
  //   window.location("./signup");//redirect
  //  }, 3500);
}

//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
        'transform': 'scale('+scale+')',
        {#'position': 'absolute'#}
      });
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 300,
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

</script>
</body>